.App {
    text-align: center;
    background-color: #282c34;
    
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .text-center{
    color: #ffffff;
    font-size: calc(50px + 1vmin);;
   
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
  }
  .row{
    background-color: #282c34;
    color:#282c34;
    min-height: 50vh;
 
  }
  .card-body{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-size: calc(10px + 2vmin);
    border: #61dafb;

  }
    
 .card {
  background-color:#282c34 ;
 
 }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(97, 149, 216);
    text-align: center;
    color: white;
  }
  
