.App {
    text-align: left;
    
    
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .CARDS{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .text-hours{
    color: white;
    
  }

  table {
    border: 1px solid;
    overflow-y: scroll;
  }

  th{
    text-align: left;
    border: 1px solid;
    width: 400px;
  }

  td{
    text-align: left;
    border: 1px solid;
    
  }
  

  .tbl {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  
  .tbl td, .tbl th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  .tbl tr:nth-child(even){background-color: #282c34;}
  
  .tbl tr:hover {background-color: rgb(97, 97, 97);}
  
  .tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3a638d;
    color: white;
    
  }

/* CSS */
