.RianApp {
  text-align: center;
  width: 100vw;
  height: 200vh;
  justify-content: right;
  background-color: #2C2F33;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar{
  height: 200vh;
  width: 250px;
  background-color: #7289DA;
  position: absolute;
}

.RIANCARDS{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 23rem;
}

.MAINCARDS{
  display: flex;
  flex-direction: row;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}